/* from here: https://google-webfonts-helper.herokuapp.com/fonts */
/* copy the generated css, download zip and place contents into fonts directory */

/* cabin-regular - latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cabin-v18-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/cabin-v18-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/cabin-v18-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/cabin-v18-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/cabin-v18-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/cabin-v18-latin-regular.svg#Cabin') format('svg');
  /* Legacy iOS */
}

/* cabin-600 - latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/cabin-v18-latin-600.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/cabin-v18-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/cabin-v18-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/cabin-v18-latin-600.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/cabin-v18-latin-600.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/cabin-v18-latin-600.svg#Cabin') format('svg');
  /* Legacy iOS */
}

:root {
  --ff: "Cabin", sans-serif;

  --fs-primary-100: 5.75rem;
  --fs-primary-200: 6rem;

  --fs-secondary-100: 0.75rem;
  --fs-secondary-200: 1rem;

  --fw-400: 400;
  --fw-600: 600;

  --clr-primary-100: hsl(177, 95%, 46%);
  --clr-secondary-100: hsl(315, 100%, 73%);
  --clr-neutral-100: hsl(186, 22%, 91%);

  --text-primary-shadow: 0px 0px 10px hsla(186, 81%, 47%, 0.502);
  --text-secondary-shadow: 0px 0px 10px rgba(253, 94, 213, 0.7);

  --box-shadow: 11px 11px 22px hsl(186, 14%, 85%), -11px -11px 22px hsl(186, 56%, 96%);

  --br: 50px;
}

@media (min-width: 40em) {
  :root {
    --fs-primary-100: 7.5rem;
    --fs-primary-200: 8rem;

    --fs-secondary-100: 1.25rem;
    --fs-secondary-200: 1.75rem;
  }
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
p,
span {
  line-height: 1;
}

/* general */
body {
  font-family: var(--ff);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background: var(--clr-neutral-100);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 285px;

  padding: 5em 3em;

  border-radius: var(--br);
  box-shadow: var(--box-shadow);

  background: var(--clr-neutral-100);
}

@media (min-width: 40em) {
  .card {
    width: 350px;
  }
}


.primary-data {
  font-family: var(--ff);
  font-size: var(--fs-primary-200);

  text-shadow: var(--text-primary-shadow);

  color: var(--clr-primary-100);
}

.primary-data span {
  font-size: var(--fs-primary-100);
}

.secondary-data {
  font-family: var(--ff);
  font-size: var(--fs-secondary-200);

  text-shadow: var(--text-secondary-shadow);

  color: var(--clr-secondary-100);
}

.secondary-data span {
  font-size: var(--fs-secondary-100);
}